@model TodoListApp.WebApp.Models.TodoListModel

<div class="modal fade" id="addTaskModal-@Model.Id" tabindex="-1" aria-labelledby="addTaskModalLabel-@Model.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel-@Model.Id">Add Task to "@Model.Title"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Task" asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <input type="hidden" name="TodoListId" value="@Model.Id" />
                    
                    <div class="mb-3">
                        <label for="Title-@Model.Id" class="form-label">Title</label>
                        <input type="text" class="form-control" id="Title-@Model.Id" name="Title" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="Description-@Model.Id" class="form-label">Description</label>
                        <textarea class="form-control" id="Description-@Model.Id" name="Description" rows="3"></textarea>
                    </div>
                    
                    <div class="mb-3">
                        <label for="DueDate-@Model.Id" class="form-label">Due Date</label>
                        <input type="datetime-local" class="form-control" id="DueDate-@Model.Id" name="DueDate">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
            </form>
        </div>
    </div>
</div>
